<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            padding: 20px;
        }
        form .form-control {
            height: 30px;
        }
        form label {
            text-align: right;
        }
        form .col-xs-9 {
            padding-left: 0;
        }
        form.form-horizontal .control-label {
            padding-top: 7px;
        }
        form textarea.form-control {
            height: 80px;
        }
    </style>

</head>
<body>
<form class="form-horizontal" action="process" method="post" id="input-form">
    <input name="redirectUrl" type="hidden" value="<%= redirectUrl %>"/>
    <div class="form-group">
        <label for="senderemail" class="col-xs-3 control-label">Sender email</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="senderemail" name="Sender email" value="<%= sender %>" readonly>
        </div>
    </div>
    
    <div class="form-group">
        <label for="sendername" class="col-xs-3 control-label">Sender name</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="sendername" name="Sender name" placeholder="first and last name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="showfeaturename" class="col-xs-3 control-label">Show/Feature name</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="showfeaturename" name="Show/Feature name" placeholder="Show/Feature name">
        </div>
    </div>
    <div class="form-group">
        <label for="packagecontents" class="col-xs-3 control-label">Package contents</label>
        <div class="col-xs-9">
            <textarea id="packagecontents" name="Package Contents" class="form-control" placeholder="description of contents"></textarea>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right">Submit Info</button>
        </div>
    </div>
</form>
</body>
</html>